header {
    background: white;
    height: 50px;
    margin-bottom: 0;
}

.nav {
    list-style: none;
    text-decoration: none;
    margin-left:6em;
}

@media screen and (max-width: 479px) {
  .nav {
    margin-left:-1.5em;
  }
}

#navbar {
    margin-bottom: 0
}

#logo {
    font-size: 1.5em;
    color: #1192b9
}
@media screen and (max-width: 479px) {
  #logo {
    font-size: 1.2em;
    color: #1d976c
  }
}

#forgot_password {
    float: left
}

#nv-menu {
    margin-right: 50px;
    margin-top: 9px
}

a {
    text-decoration: none;
}

.navbar-header {
    float: left;
}
